*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.wrapped{
    width: 100%;
}

                        /* HEADER */
.header__container{
    background-color: #FFFFFF;
    height: 94px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.phone__container{
    width: 45.65px;
    height: 45.65px;
}

.phone__container > img{
    width: 100%;
}

                       /* MAIN HOME */

.main__home{
    width: 100%;
    height: calc(100vh - 94px);
    display: flex;
    flex-direction: column;
}

.main__home--contract{
    height: calc((100vh - 94px) / 2);
    width: 100%;
    background-image: linear-gradient(rgba(0, 99, 188, 0.85),rgba(0, 99, 188, 0.85)),  url(../images/brooke-cagle-g1Kr4Ozfoac-unsplash.png); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding-left: 15%; 
}

.main__home--contract > :first-child{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.main__home--contract > span{
    text-align: left;
    padding-right: 15px;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #0063BC;
    background-color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.main__home--contract > button{
    width: 47%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #0063BC;
    border: solid #FFFFFF 2px;
    margin-bottom: 13%;
    margin-top: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main__home--contract > button > a{
    color: #FFFFFF;
    padding: 5px;
}

.main__home--client{
    height: calc((100vh - 94px) / 2);
    width: 100%;
    background-image: linear-gradient(rgba(0, 99, 188, 0.85),rgba(0, 99, 188, 0.85)), url(../images/rayul-_M6gy9oHgII-unsplash.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main__home--client > button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #FFFFFF ;
    border: solid #FF6A00 2px;
    padding: 5px;
    margin-bottom: 13%;
}

.main__home--client > button > a{
    color:#FF6A00;
    padding: 5px;
}




.hidden{
    display:none !important;
}
                      /* Contract Section */
.contract__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 94px);
}

.contract__top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    background-image: url(../images/drew-graham-PVyhz0wmHdo-unsplash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contract__top--text{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.contract__top--text > h2{
    text-transform: capitalize;
    font-weight: 400;
}

.contract__top--text > h2 > span{
    text-transform: uppercase;
    font-weight: 600;
}

.contract__top--text > h3{
    font-weight: 600;
    text-transform: capitalize;
}

.contract__top--text > h3:nth-child(3){
    text-transform: none;
    background-color: #FFFFFF;
    width: 70%;
    padding: 5px;
    box-shadow: 0px 12px 25px #2424241A;
    margin-top: 10px;
    margin-bottom: 25px;
}

.contract__top--text > button{
    font-size: 13px;
    text-transform: uppercase;
    background-color: #0063BC;
    color: #FFFFFF;
    width: 47%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
}

.contract__top--rectangle{
    display: flex;
    width: 72%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    background-color: #FFFFFF ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contract__top--rectangle > h4{
    background-color: #0063BC;
    color: #FFFFFF;
    width: 100%;
    font-size: 16px;
    border-radius: 23px 23px 0px 3px;
    padding: 15px 15px;
    font-weight: bold;
}

.contract__top--rectangle > p{
    font-size: 14px;
    color:#0063BC;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contract__top--rectangle > p:nth-child(3){
    font-size: 9px;
    font-weight: normal;
    color: #000000;
}

.contract__top--form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input--text{
    width: 96%;
    border: 1px solid #000000;
    height: 22px;
    padding: 3px;
    margin-bottom: 4px;
}

.contract__top--form > label{
    color:#BFB8AE;
    font-weight: bold;
    font-size: 9px;
}

.contract__top--form > label > input{
    height: 11px;
    width: 11px;
}

.contract__top--rectangle > button{
    background-color: #FF6A00;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    width: 75%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 25px;

}

.contract__container--buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.66),rgba(0, 0, 0, 0.66)), url(../images/nordwood-themes-bJjsKbToY34-unsplash.png);
    margin-top: 16px;
}

.contract__container--buttons > button{
    text-transform: uppercase;
    background-color: #0063BC;
    border: solid #FFFFFF 2px;
    color: #FFFFFF;
    width: 35%;
    height: 30px;
}

.offers__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 800px;
}

.offers__container--element{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 82%;
    height: 80px;
    box-shadow: 0px 0px 12px #00000029;
    border-radius: 4px;
    position: relative;
}

.offer__text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 82%;
}

.offer__image{
    width: 20%;
    margin-right: 5px;
}

.offer__image > img{
    width: 100%;
}

.offer__title{
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    color:#434343;
}

.offer__text--button{
    font-size: 8px;
    text-transform: uppercase;
    background-color: #0063BC;
    color: #FFFFFF;
    height: 20px;
    width: 125px;
}

.offer__circle{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: #FFFFFF;
    box-shadow: 0px 0px 12px #00000029;
    position: absolute;
    top:calc(100% - 10px);

}

.open{
    font-family: 'Roboto', sans-serif;
    font-size: 7px;

}

.offers__container--second{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 82%;
    height: 80px;
    box-shadow: 0px 0px 12px #00000029;
    border-radius: 4px;
    position: relative;
}

.offer__text--second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 82%;
    font-size: 8px;
}

.offer__image--second{
    width: 30%;
    margin-right: 5px;
}

.offer__image--second > img{
    width: 100%;
}

.offer__container--last{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    width: 100%;
}

.offers__container--third{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 82%;
    height: 80px;
    box-shadow: 0px 0px 12px #00000029;
    border-radius: 4px;
    position: relative;
}

.offer__text--third{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 82%;
}

                                /* POP UPs */
.pop-up__container--first{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top:0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up__background{
    width: 100%;
    background-color: black;
    opacity: .9;
    height: 100vh
}

.pop-up__circle{
    width: 250px;
    height: 250px;
    border-radius: 125px;
    background-color: #FFFFFF;
    position: absolute;
    top: calc(100% - 250px)/2;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.pop-up__circle > h3{
    text-transform: uppercase;
    color: #0063BC;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.pop-up__circle > h4{
    width: 85%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    max-width: 410px;
    font-size: 15px;
}

.pop-up__circle > h4 > span{
    color: #0063BC;
}

.pop-up__circle > button{
    background-color: #FF6A00;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    width: 50%;
    margin-bottom: 20px;
    height: 30px;
}

.pop-up__close{
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding-top: 10px;
    color: #AAAAAA;
    position: absolute;
    top:107px;
    right: 65px;
}

.client__container--section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    min-height: calc(100vh - 94px);
    height: 1000px;
}

.client__container--hero{
    background-image: linear-gradient(rgba(0,0,0,0.37),rgba(0,0,0,0.37)), url(../images/edu-lauton-TyQ-0lPp6e4-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.client__container--hero > h1{
    font-weight: 900;
    font-size: 30px;
}

.client__container--hero > h2{
    font-family: 'Roboto', sans-serif;
}

.client__container--hero > button{
    color: #FFFFFF;
    border: 2px solid #FFFFFF; 
    border-radius: 4px;
    background-color: #0063BC;
    height: 30px;
    text-transform: uppercase;
    width: 150px;
}

.client__container--info{
    text-align: center;
    width: 67%;
    font-family: 'Roboto', sans-serif;
}

.client__text{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: black;
}

.client__text > span{
    color:#0063BC;
    font-weight: bold;
}

.client__icons{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.client__icons > .icon{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.client__icons > .icon > div > img{
    width: 50px;
    height: 50px;
}



                      /* Versión tablets 768px */
  @media all and (min-width: 768px){
    .main__home--contract > span{
            font-size: 45px;
       }
                    
    .main__home--contract > button{
        font-size: 17px;
        max-width: 319px;
        width: 35%;
        height: 58px;
        border: solid #FFFFFF 3px;
        margin-bottom: 5%;
        }
                    
    .main__home--client > button{
        font-size: 17px;
        border: solid #FF6A00 3px;
        height: 58px;
        margin-bottom: 10%;
        }

    .contract__top{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

    }

    .contract__top--text{
        font-size: 22px;

    }

    .contract__top--text > button {
        width: 243px;
        height: 58px;
    }

    .contract__top--rectangle{
        max-width: 320px;
    }

    .contract__container--buttons {
        height: 100px;
    }

    .contract__container--buttons > button{
        width: 243px;
        height: 40px;
    }

    .offer__image {
        width: 90px;
        height: 65px;
        margin: 0px;
    }

    .offer__title{
        font-size: 16px;
    }

    .offer__text--button {
    font-size: 10px;
    width: 150px;
    border: 3px solid #FFFFFF;
    height: 40px;
    }

    .offer__circle{
        width:30px;
        height: 30px;
        border-radius: 15px;
        top: calc(100% - 15px);
    }

    .offer__text--second{
        font-size: 12px;

    }

    .offer__image--second {
        width: 74px;
        height: 64px;
        margin-right: 0px;
    }

    .pop-up__circle {
    width: 350px;
    height: 350px;
    border-radius: 175px
    }

    .pop-up__circle > h3{
        font-size: 30px;
        margin-top: 40px;
        max-width: 300px;
    }

    .client__container--section{
        height: 500px;
    }

    .client__icons{
        min-height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .client__icons > .icon{
        width: 20%;
    } 

    .client__icons > .icon > h5{
        width: 18%;
    }


}
                    
                    
                                        /* Versión Desktop 1200px */
@media all and (min-width: 1200px){
   .main__home{
        display: flex;
        flex-direction: row;
    }
                    
    .main__home--contract{
        height: calc(100vh - 94px);
        padding-left: 9%;
                            
        }
                    
    .main__home--contract > span{
        font-size: 60px;
    }
                    
    .main__home--contract > button{
        margin-bottom: 89px;
    }
                    
    .main__home--client{
        height: calc(100vh - 94px);
                    
    }
                    
    .main__home--client > button{
        margin-bottom: 89px;
        margin-top: 4%;
       }

    .contract__top--text {
        font-size: none;
    }

    .contract__top--text > h2{
        font-size: 50px;
    }

    .contract__top--text > h3{
        font-size: 30px;
    }

    .contract__top--rectangle{
        height: 283px;
    }

    .contract__top--rectangle > h4{
        height: 74px;
        padding-top: 25px;
    }

    .contract__top--rectangle > p {
        font-size: 14px;
        width: 172px;
        height: 32px;
    }

    .input--text {
        width: 236px;
        height: 31px;
    }

    .contract__top--rectangle > button{
        width: 241px;
        height: 46px;
    }

    .contract__container--buttons {
        height: 132px;
        justify-content: center;
    }

    .contract__container--buttons > button{
        height: 58px;
        font-size: 17px;
        
    }
    .contract__container--buttons > button:nth-child(1){
        margin-right: 157px;
    }

    .offers__container{
        min-height: 1000px;
    }

    .offers__container--element{
        height: 107px;
    }

    .offer__title{
        font-size: 22px;
    }

    .offer__text--button{
        width: 243px;
        height: 58px;
        font-size: 20px;
    }

    .offer__text--second {
        font-size: 22px;
    }

    .offer__text--second > button{
        margin-right: 47px;
    }

    .offers__container--second{
        height: 107px;
    }

    .offers__container--third{
        height: 107px;
    }

    .pop-up__circle {
        width: 578px;
        height: 578px;
        border-radius: 276px
        }

    .pop-up__circle > h3{
        font-size: 41px;
        }
    
    .pop-up__circle > h4{
        font-size: 25px;
        }

    .pop-up__circle > button{
        width: 241px;
        height: 46px;
    }

                  
}